.editorContainer {
    min-height: 150px;
    max-height: 500px;
    overflow: auto;
    margin: 5px !important;
}

.editorBody {
    border: 2px solid;
    border-left: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 4px;
    white-space: pre;
    overflow: auto;
    line-height: 1.5;
    transition: 0.1s;
    max-width: 100% !important;
    caret-color: #0000ff;
}

.editorBody:focus {
    padding: 4px;
    outline: none;
}

.editorBody > div {
    display: flex;
    width: auto;
    min-width: fit-content;
}

::selection {
    background: gray;
}

.focused {
    background: lightgray;
}
